
@import "../../../styles/variables.css";



.aboutUs {
    width: 98%;
    height: 98%;
    display: flex;
    border-radius: 15px;
     background-image: linear-gradient(#3236b066, #ffffff66), url("../../../assets/images/about.avif"); 

     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.aboutUs > h1 {
    flex: 1;
    font-size: 7rem;
    font-family: var(--font-secondary);
    align-self: flex-end;
    font-weight: 400;
}

.aboutUs > .right {
    flex: 1;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutUs > .right > img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.aboutUs > .right > p {
    padding: 20px;
    background-color: #d7d8de55;
    border-radius: 15px;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    text-align: justify;
}

.aboutUs > .right > a > button {
    border-radius: 10px;
    /* background-color: #000000; */
    background-color: #1e128c55;
    color: black;
    font-size: 1.25rem;
    border: none;
    padding: 15px 50px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.aboutUs > .right > a > button:hover {
    transform: scale(1.1);
    background-color: var(--color-main);
    color: white;
}

.aboutUs > .right > a {
    text-decoration: none;
    font-family: var(--font-secondary);
    color: white;
}

@media screen and (max-width: 1000px) {
    .aboutUs {
        width: 96%;
        height: initial;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .aboutUs > h1 {
        font-size: 5rem;
        align-self: initial;
        text-align: center;
    }

    .aboutUs > .right > a {
        width: 100%;
    }

    .aboutUs > .right > a > button {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .aboutUs {
        padding: 1em;
    }
}