.link {
    text-decoration: none;
}

.link > .notification {
    width: 100%;
    display: flex;
    padding: 5px;
    gap: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff00;
    color: white;
    font-family: var(--font-secondary);
}

.link > .notification > img {
    width: 75px;
    padding: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    object-fit: scale-down;
}

.link > .notification > .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    background-color: #ffffff11;
    padding: 1em;
    border-radius: 0.5em;
}

.link > .notification > .text > h2 {
    font-size: 1.25rem;
}