@import "../../../styles/variables.css";

.cart {
    flex: 1;
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    grid-template-rows: 0.25fr 4fr;
    padding: 5%;
    gap: 25px;
}

.cart > .title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart > .title > button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.cart > .title > button:hover {
    transform: scale(1.1);
}

.cart > .title > button > span {
    font-size: 2.25rem;
    font-weight: 900;
}

.cart > .title > h1 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    font-weight: 400;
}

.cart > .itemsList {
    background-color: #ffffff;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
}

.cart > .itemsList > * {
    font-family: var(--font-secondary);
}

.cart > .itemsList > .headers {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr;
    gap: 15px;
}

.cart > .itemsList > .headers > h3 {
    font-family: var(--font-secondary);
    font-weight: 400;
    opacity: 0.5;
}

.cart > .itemsList > .headers > h3:first-of-type {
    grid-column: 2 / 3;
}

.cart > .itemsList > .headers > h3:nth-of-type(2) {
    grid-column: 4/5;
}

.cart > .itemsList > .headers > h3:last-of-type {
    grid-column: 5/6;
}

.cart > .itemsList > .item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 100px));
    align-items: center;
    gap: 15px;
    border: 1px solid transparent;
}

.cart > .itemsList > .item > p {
    grid-column: 1/2;
    font-family: var(--font-secondary);
}

.cart > .itemsList > .item > p:first-of-type {
    justify-self: center;
}

.cart > .itemsList > .item > img {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    padding: 5px;
    object-fit: scale-down;
}

.cart > .itemsList > .item > .details {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.cart > .itemsList > .item > .details > h3 {
    grid-row: 1 /2;
    font-family: var(--font-secondary);
    font-size: 0.8rem;
    opacity: 0.5;
}

.cart > .itemsList > .item > .details > a {
    text-decoration: none;
    color: black;
}

.cart > .itemsList > .item > .details > p {
    grid-row: 2 /3;
    font-family: var(--font-secondary);
    font-size: 1rem;
}

.cart > .itemsList > .item > .details > span {
    grid-row: 3 /4;
}

.cart > .itemsList > .item > .amount {
    grid-column: 4/5;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart > .itemsList > .item > .amount > button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cart > .itemsList > .item > .amount > button:hover {
    border: 1px solid #00000033;
}

.cart > .itemsList > .item > .amount > button:hover > span {
    font-weight: 900;
}

.cart > .itemsList > .item > .amount > button > span {
    font-size: 1.5rem;
    font-weight: 400;
}

.cart > .itemsList > .item > .price {
    grid-column: 5/6;
}

.cart > .itemsList > .item > button {
    grid-column: 6 / span 1;
    height: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.cart > .itemsList > .item > button:hover {
    border: 1px solid #00000033;
}

.cart > .itemsList > .item > button > span {
    font-size: 2rem;
    font-weight: 400;
}

.cart > .itemsList > .separator {
    width: 95%;
    height: 5px;
    border-radius: 15px;
    
    background-color: #ededed;
    align-self: center;
}

.cart > .orderSummary {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    gap: 20px;
}

.cart > .orderSummary > h2 {
    font-family: var(--font-secondary);
    font-weight: 400;
    text-align: center;
}

.cart > .orderSummary > .subTotal,
.cart > .orderSummary > .total,
.cart > .orderSummary > .discount,
.cart > .orderSummary > .shipping {
    display: flex;
    justify-content: space-between;
}

.cart > .orderSummary > .subTotal > p,
.cart > .orderSummary > .total > p,
.cart > .orderSummary > .discount > p,
.cart > .orderSummary > .shipping > p {
    opacity: 0.5;
}

.cart > .orderSummary > .separator {
    width: 90%;
    height: 5px;
    border-radius: 25px;
   
    background-color: #ededed;
    align-self: center;
}

.cart > .orderSummary > .processOrder {
    width: 100%;
    padding: 20px 25px;
    font-size: 1.1rem;
    background-color: var(--color-main);
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: auto;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.cart > .orderSummary > .processOrder:hover {
    transform: scale(1.02);
}

.cart > .orderSummary > a {
    color: black;
    font-weight: 600;
    text-align: center;
}

/* Empty cart section */

.emptyCart {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.emptyCart > h1 {
    text-align: center;
    font-family: var(--font-secondary);
}

.emptyCart > img {
    width: 70%;
}

.emptyCart > a {
    font-size: 1.25rem;
    color: black;
    font-family: var(--font-secondary);
}

@media screen and (max-width: 1000px) {
    .cart {
        display: flex;
        flex-direction: column;
    }

    .cart > .itemsList > .item > .details > a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 500px) {
    .cart {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .cart > .itemsList {
        gap: 3em;
        padding: 0;
        background-color: transparent;
    }

    .cart > .itemsList > .headers {
        display: none;
    }

    .cart > .itemsList > .item {
        position: relative;
        padding: 2.5em 1.25em;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 1em;
        border: 1px solid #00000033;
        background-color: white;
        border-radius: 0.5em;
    }

    .cart > .itemsList > .item > p {
        display: none;
    }

    .cart > .itemsList > .item > .price {
        display: block;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .cart > .itemsList > .item > .details {
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .cart > .itemsList > .item > .details > h3 {
        display: none;
    }

    .cart > .itemsList > .item > .amount {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 7px;
        border: 1px solid #00000033;
        border-radius: 5px;
    }

    .cart > .itemsList > .item > .amount > .separator {
        height: 2em;
        background-color: #00000033;
        width: 1px;
    }

    .cart > .itemsList > .item > .amount > span {
        margin: 0.5em;
    }

    .cart > .itemsList > .item > img {
        width: 100px;
        height: 100px;
        grid-column: 1/3;
        grid-row: 1/3;
        padding: 5px;
        object-fit: scale-down;
    }

    .cart > .itemsList > .item > .details > a {
        text-overflow: initial;
        overflow: initial;
        white-space: initial;
    }

    .cart > .itemsList > .item > .details > span {
        display: none;
    }

    .cart > .itemsList > .item > button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 3px;
        height: fit-content;
        border: 1px solid #00000033;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart > .itemsList > .item > button > span {
        font-size: 1.25rem;
    }

    .cart > .itemsList > .separator {
        display: none;
    }
}