.mainSlide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#00000033, #00000033),
        url("../../../../../assets/images/bags.jpg"); 
    background-size: cover;
    background-position: center;
    gap: 25px;
    filter: hue-rotate(45deg);
}
