.mainSlide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#00000033, #00000033),
        url("../../../../../assets/images/clouds.webp");
    background-size: cover;
    background-position: center;
    gap: 25px;
    filter: hue-rotate(45deg);
}

.mainSlide > svg {
    filter: hue-rotate(-45deg);
}

.mainSlide > svg .moon {
    transform-box: fill-box;
    transform-origin: center;
    animation: moonRotation 7s linear alternate infinite;
    transition: all 5s ease-in-out;
}

.mainSlide > svg .bigCloud {
    transform-box: fill-box;
    transform-origin: center;
    animation: cloudMovement 2s linear alternate infinite;
}

.mainSlide > svg .cloudRight {
    transform-box: fill-box;
    transform-origin: center;
    animation: cloudMovement2 3s linear alternate-reverse infinite;
}

.mainSlide > svg .cloudLeft {
    transform-box: fill-box;
    transform-origin: center;
    animation: cloudMovement3 6s linear alternate-reverse infinite;
}

.mainSlide > svg .topRightStar {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: rotateStar 5s linear infinite;
    filter: hue-rotate(-30deg);
}

.mainSlide > svg .bottomStar {
    transform-box: fill-box;
    transform-origin: center center;
    animation: growAndShrink 2s linear infinite alternate;
    filter: hue-rotate(-30deg);
}

.mainSlide svg .leftStar {
    transform-box: fill-box;
    transform-origin: center;
    animation: growAndShrink 3s linear alternate infinite;
    filter: hue-rotate(-30deg);
}

.mainSlide > svg .lineCloudsRight {
    transform-box: fill-box;
    transform-origin: center center;
    animation: translateRightToLeft 10s linear alternate infinite;
}

.mainSlide > svg .lineCloudsLeft {
    transform-box: fill-box;
    transform-origin: center center;
    animation: translateLeftToRight 10s ease-in-out alternate infinite;
}

.mainSlide > h1 {
    font-family: var(--font-main);
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 100;
}

@media screen and (max-width: 1000px) {
    .mainSlide > svg {
        display: block;
    }
}

@media screen and (max-width: 500px) {
}

@keyframes rotateStar {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes growAndShrink {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes translateRightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-125%);
    }
}

@keyframes translateLeftToRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(150%);
    }
}

@keyframes cloudMovement {
    0% {
        transform: scale(1) translateY(0px);
    }
    100% {
        transform: scale(1.1) translateY(-3px);
    }
}

@keyframes cloudMovement2 {
    from {
        transform: scale(1) translateX(0px);
    }
    to {
        transform: scale(1.5) translateX(3px);
    }
}

@keyframes cloudMovement3 {
    0% {
        transform: scale(1) translateX(0px);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1.2) translateX(-3px);
    }
}

@keyframes moonRotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}