@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --font-titles: "Bebas Neue", sans-serif;
    --font-main: "Poiret One", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --color-font: #0a0a0a;
    --color-main: #7678ed;
    --color-secondary: #6dc7ff;
    --transition: all 250ms ease-in-out;
}