.product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #00000011;
    transition: all 300ms ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in-out;
    gap: 1em;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 6;
}

.product:hover {
    box-shadow:
        rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transform: scale(1.01);
}

.product > img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 25px;
}

.product > h2 {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 400;
}

.product > .rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product > .rating > .rateCount {
    font-size: 1.2rem;
    font-family: var(--font-secondary);
}

.product > .rating > div > span {
    font-size: 2.25rem;
}

.product > p {
    font-family: var(--font-secondary);
    opacity: 0.5;
}

.product > .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product > .price > strong {
    font-family: var(--font-secondary);
}